In [79]:
import pandas as pd
import numpy as np

# Carregando conjunto de dados

In [80]:
data = pd.read_csv('../data/processed/cleaned_data.csv')

In [81]:
filtered_data = data.dropna(ignore_index=True)
data = filtered_data.copy()

In [82]:
filtered_data.describe()

,Unnamed: 0,S.No.,Age,Sex,RBC,PCV,MCV,MCH,MCHC,RDW,TLC,PLT/mm3,HGB
count,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000
mean,182.500000,182.500000,44.917582,0.442308,4.278736,36.762912,87.509121,28.227143,32.053407,15.116511,8.863571,223.750824,11.907692
std,105.221988,105.221988,18.780854,0.497344,0.820166,6.830835,9.332164,3.865998,2.801790,2.176557,4.868502,99.407153,2.186686
min,1.000000,1.000000,11.000000,0.000000,1.360000,13.100000,55.700000,14.700000,23.600000,10.600000,2.000000,10.000000,4.200000
25%,91.750000,91.750000,28.000000,0.000000,3.780000,32.900000,83.175000,26.300000,30.300000,13.600000,5.900000,153.000000,10.600000
50%,182.500000,182.500000,44.500000,0.000000,4.335000,36.800000,87.950000,28.200000,31.700000,14.800000,7.935000,210.000000,12.100000
75%,273.250000,273.250000,60.000000,1.000000,4.800000,41.850000,91.875000,30.400000,33.300000,16.100000,10.205000,268.250000,13.400000
max,364.000000,364.000000,89.000000,1.000000,6.900000,56.900000,124.100000,41.400000,50.200000,29.200000,42.420000,660.000000,19.600000

In [83]:
filtered_data.Age[filtered_data.Age<18]

7      14.0
8      16.0
38     14.0
56     15.0
57     13.0
60     15.0
61     13.0
66     14.0
69     13.0
70     13.0
72     17.0
83     17.0
121    15.0
128    11.0
137    16.0
151    14.0
161    13.0
172    17.0
181    12.0
198    16.0
212    16.0
216    16.0
280    14.0
294    14.0
327    14.0
359    17.0
Name: Age, dtype: float64

# Remoção de dados de pacientes <18 anos.

In [84]:
print(len(filtered_data))

364

In [85]:
data.drop(filtered_data[filtered_data['Age'] < 18].index, inplace=True)

filtered_data.drop(filtered_data[filtered_data['Age'] < 18].index, inplace=True)

filtered_data.reset_index(inplace=True)
data.reset_index(inplace=True)

In [86]:
print(len(filtered_data))

338

In [87]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       338 non-null    int64
 1   Unnamed: 0  338 non-null    int64
 2   S.No.       338 non-null    float64
 3   Age         338 non-null    float64
 4   Sex         338 non-null    float64
 5   RBC         338 non-null    float64
 6   PCV         338 non-null    float64
 7   MCV         338 non-null    float64
 8   MCH         338 non-null    float64
 9   MCHC        338 non-null    float64
 10  RDW         338 non-null    float64
 11  TLC         338 non-null    float64
 12  PLT/mm3     338 non-null    float64
 13  HGB         338 non-null    float64
 14  Name        338 non-null    object
dtypes: float64(12), int64(2), object(1)
memory usage: 39.7+ KB

In [88]:
filtered_data.columns

Index(['index', 'Unnamed: 0', 'S.No.', 'Age', 'Sex', 'RBC', 'PCV', 'MCV',
       'MCH', 'MCHC', 'RDW', 'TLC', 'PLT/mm3', 'HGB', 'Name'],
      dtype='object')

# Discretização dos valores das taxas

Hemoglobina

In [89]:
condition_hgb = [
    # Homens (Sex == 0.0)
    (filtered_data["Sex"] == 0.0) & (filtered_data["HGB"] < 12),
    (filtered_data["Sex"] == 0.0) & (filtered_data["HGB"] > 15),

    # Mulheres (Sex != 0)
    (filtered_data["Sex"] != 0.0) & (filtered_data["HGB"] < 11),
    (filtered_data["Sex"] != 0.0) & (filtered_data["HGB"] > 14)
]

values_hgb = [
    0, # Homens com HGB < 12
    2, # Homens com HGB > 15
    2, # Mulheres com HGB < 11
    0 # Mulheres com HGB > 14
]

filtered_data["HGB_Class"] = np.select(condition_hgb, values_hgb, default=1)

Hematócrito

In [90]:
condition_pcv = [
    # Homens (Sex == 0.0)
    (filtered_data["Sex"] == 0.0) & (filtered_data["PCV"] < 38.3),
    (filtered_data["Sex"] == 0.0) & (filtered_data["PCV"] > 48.6),

    # Mulheres (Sex != 0)
    (filtered_data["Sex"] != 0.0) & (filtered_data["PCV"] < 35.5),
    (filtered_data["Sex"] != 0.0) & (filtered_data["PCV"] > 44.9)
]

values_pcv = [
    0, # Homens com PCV < 38.6
    2, # Homens com PCV > 48.6
    2, # Mulheres com PCV < 35.5
    0 # Mulheres com PCV > 44.9
]

filtered_data["PCV_class"] = np.select(condition_pcv, values_pcv, default=1)

Concentração de hemoglobina corpuscular média

In [91]:
condition_mchc = [
    filtered_data["MCHC"] > 38,
    filtered_data["MCHC"] < 30
]

values_mchc = [0,2]

filtered_data["MCHC_class"] = np.select(condition_mchc, values_mchc, default=1)

Hemoglobina corpuscular médio

In [92]:
condition_mch = [
    filtered_data["MCH"] > 35,
    filtered_data["MCH"] < 25
]

values_mch = [0,2]

filtered_data["MCH_class"] = np.select(condition_mch, values_mch, default=1)

Amplitude de distribuição das hemácias

In [93]:
condition_rdw = [
    filtered_data["RDW"] > 16,
    filtered_data["RDW"] < 12.5
]

values_rdw = [0,2]

filtered_data["RDW_class"] = np.select(condition_rdw, values_rdw, default=1)

Plaquetas

In [94]:
condition_plt = [
    filtered_data["PLT/mm3"] > 450,
    filtered_data["PLT/mm3"] < 140
]

values_plt = [0,2]

filtered_data["PLT/mm3"] = np.select(condition_plt, values_plt, default=1)

Hemácias

In [95]:
condition_rbc = [
    filtered_data["RBC"] > 5.8,
    filtered_data["RBC"] < 4
]

values_rbc = [0,2]

filtered_data["RBC_class"] = np.select(condition_rbc, values_rbc, default=1)

Volume corpuscular médio

In [96]:
condition_mcv = [
    filtered_data["MCV"] > 115,
    filtered_data["MCV"] < 75
]

values_mcv = [0,2]

filtered_data["MCV_class"] = np.select(condition_mcv, values_mcv, default=1)

Contagem total de leucócitos

In [97]:
condition_tlc = [
    filtered_data["TLC"] > 115,
    filtered_data["TLC"] < 75
]

values_tlc = [0,2]

filtered_data["TLC_class"] = np.select(condition_tlc, values_tlc, default=1)

# Discretização da idade em faixas etárias.

In [98]:
filtered_data["Age_group"] = pd.cut(
    filtered_data["Age"],
    bins=[-float("inf"), 32,48,64, float("inf")],
    labels = [0,1,2,3]
).astype(int)

Faixas etárias:
* 0: ≤ 32
* 1: 33–48
* 2: 49–64
* 3: ≥ 65

Remoção de dados não necessários

In [99]:
class_filtered_data = filtered_data.drop(["Unnamed: 0","Age", "Sex", "S.No.", "index", "RBC","PCV","MCV", "MCH", "MCHC", "RDW","TLC", "PLT/mm3","HGB"], axis=1, inplace=False)

In [100]:
class_filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        338 non-null    object
 1   HGB_Class   338 non-null    int32
 2   PCV_class   338 non-null    int32
 3   MCHC_class  338 non-null    int32
 4   MCH_class   338 non-null    int32
 5   RDW_class   338 non-null    int32
 6   RBC_class   338 non-null    int32
 7   MCV_class   338 non-null    int32
 8   TLC_class   338 non-null    int32
 9   Age_group   338 non-null    int32
dtypes: int32(9), object(1)
memory usage: 14.7+ KB

In [101]:
class_filtered_data.head()

,Name,HGB_Class,PCV_class,MCHC_class,MCH_class,RDW_class,RBC_class,MCV_class,TLC_class,Age_group
0,Dr. Davi Luiz Aparecida,0,0,2,2,0,1,2,2,0
1,Vicente Vasconcelos,1,1,1,1,1,1,1,2,1
2,Alice da Rocha,1,1,1,1,1,1,1,2,1
3,Marcelo Oliveira,0,0,1,1,1,1,1,2,3
4,Emilly Costa,1,1,1,1,1,1,1,2,0