In [2]:
import pandas as pd
import numpy as np
from faker import Faker

# Carregando conjunto de dados

In [ ]:
data = pd.read_csv('CBC.csv')
data.head()

,S. No.,Age,Sex,RBC,PCV,MCV,MCH,MCHC,RDW,TLC,PLT /mm3,HGB
0,NaN,NaN,NaN,Red Blood Cell count,Packed Cell Volume,Mean Cell Volume,Mean Cell Hemoglobin,NaN,Red Cell Distribution width,"White Blood Cell (WBC count),",Platelet,Hemoglobin
1,1.0,28.0,0.0,5.66,34,60.1,17,28.2,20,11.1,128.3,9.6
2,2.0,41.0,0.0,4.78,44.5,93.1,28.9,31.0,13,7.02,419,13.8
3,3.0,40.0,1.0,4.65,41.6,89.5,28.8,32.2,13,8.09,325,13.4
4,4.0,76.0,0.0,4.24,36.7,86.6,26.7,30.8,14.9,13.41,264,11.3

In [67]:
data.describe()

           S. No.   Age             Sex        MCHC
count  364.000000  364.000000  364.000000  364.000000
mean   182.500000   44.917582    0.442308   32.053407
std    105.221988   18.780854    0.497344    2.801790
min      1.000000   11.000000    0.000000   23.600000
25%     91.750000   28.000000    0.000000   30.300000
50%    182.500000   44.500000    0.000000   31.700000
75%    273.250000   60.000000    1.000000   33.300000
max    364.000000   89.000000    1.000000   50.200000

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   S. No.     364 non-null    float64
 1   Age        364 non-null    float64
 2   Sex        364 non-null    float64
 3     RBC      365 non-null    object
 4   PCV        365 non-null    object
 5   MCV        365 non-null    object
 6   MCH        365 non-null    object
 7    MCHC      364 non-null    float64
 8    RDW       365 non-null    object
 9   TLC        365 non-null    object
 10   PLT /mm3  365 non-null    object
 11   HGB       365 non-null    object
dtypes: float64(4), object(8)
memory usage: 35.2+ KB

# Limpeza e padronização

In [69]:
data = data.copy()

In [70]:
print(data.columns)

Index(['S. No.', 'Age      ', 'Sex  ', '  RBC    ', 'PCV', 'MCV  ', 'MCH',
       ' MCHC  ', ' RDW    ', 'TLC', ' PLT /mm3', ' HGB '],
      dtype='object')

In [71]:
data.columns = data.columns.str.replace(' ','')
print(data.columns)

Index(['S.No.', 'Age', 'Sex', 'RBC', 'PCV', 'MCV', 'MCH', 'MCHC', 'RDW', 'TLC',
       'PLT/mm3', 'HGB'],
      dtype='object')

In [73]:
data.isnull().sum()

S.No.       10
Age         10
Sex         10
RBC          9
PCV          9
MCV          9
MCH          9
MCHC         9
RDW          9
TLC          9
PLT/mm3      9
HGB          9
PLT        373
dtype: int64

In [74]:
data = data.replace('-', '', regex=True)
data = data.replace(',','', regex=True)
data = data.replace('%','', regex=True)
data = data.replace('', np.nan)

data = data.dropna()

data.isnull().sum()

S.No.      0
Age        0
Sex        0
RBC        0
PCV        0
MCV        0
MCH        0
MCHC       0
RDW        0
TLC        0
PLT/mm3    0
HGB        0
PLT        0
dtype: int64

In [75]:
data.dtypes

S.No.      float64
Age        float64
Sex        float64
RBC         object
PCV         object
MCV         object
MCH         object
MCHC        object
RDW         object
TLC         object
PLT/mm3     object
HGB         object
PLT         object
dtype: object

In [76]:
data = data.astype("float64")

In [78]:
data.dtypes

S.No.      float64
Age        float64
Sex        float64
RBC        float64
PCV        float64
MCV        float64
MCH        float64
MCHC       float64
RDW        float64
TLC        float64
PLT/mm3    float64
HGB        float64
PLT        float64
dtype: object

# Gerando nomes para pacientes do dataset

In [ ]:
faker = Faker()

names = []

for i, row in data.iterrows():
    if 'sex' == 0:
        names.append(faker.name_male())
    else:
        names.append(faker.name_female())


data.to_csv('../data/processed/cleaned_data.csv', index=False)